/*top socail section*/
.bg{
    background-color: #00A651;
}

.font-color{
    color: whitesmoke;
}
.text-decration{
    text-decoration: none;
}


/*navber section*/

/*header logo*/
.img-res{
    width: 100%;
}

/*Dropdawn area*/
.drop-menu{
    top: 90%;
    border-top: 4px solid red;
    box-shadow: 1px 1px 2px green;
}
.dropdown-item:hover{
    background-color: whitesmoke;
}

/*navber surch*/
.margin{
    margin: 32px auto;
}
/*carousel area*/
.carousel-inner{
    margin: 30px 0;
}
.carousel-indicators{
    display: none;
}

/*collapse area*/
.card{
    margin-top: 7px;
}
.accordion{
    margin-top: 25px;
}

/*carrer section*/
.card-img-top {
    width: 38%;
    margin: 0 auto;
}

.card-body p{
    text-align: center;
    font-size: 15px
}
.card-body p:hover{
    color: red;
}
.btn-change{
    width: 55%;
    margin: 0 auto;
     border-radius: 0.10rem;
    border:2px solid red;
    transition: 1s;
}
.btn-change:hover{
    border:2px solid whitesmoke;
    font-size: 18px;
    color: red;
    background-color: whitesmoke;
}

/*femous person*/
.img-redi{
    height: 100px;
    width: 100%;
    border-radius: 50%;
    background: url("../images/sheikh_hasina.jpg");
}